@charset "UTF-8";
body {
  color: #7A7A7A;
  background-color: #FFFDEE;
  font-family: "Montserrat", sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Film P3";
  src: local(""), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff"), url("../fonts/film-p3-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-regular.woff2") format("woff2"), url("../fonts/times-new-roman-regular.woff") format("woff"), url("../fonts/times-new-roman-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* Mixins */ /* Button */
.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

.btn-modal-open {
  width: 236px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-open:hover, .btn-modal-open:focus {
  border-color: #F3C653;
  background-color: #FFFFFF;
}

.btn-modal-open--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 236px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover, .btn-link:focus {
  border-color: #F3C653;
  background-color: #FFFFFF;
}

.btn-link--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-roompage-modal-open {
  width: 434px;
  height: 64px;
  border: 1px solid #F3C653;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #FFFFFF;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-roompage-modal-open:hover, .btn-roompage-modal-open:focus {
  color: #000000;
  background-color: #F3C653;
}
@media screen and (max-width: 1023.99px) {
  .btn-roompage-modal-open {
    width: 384px;
  }
}

.btn-modal-submit {
  width: 592px;
  height: 64px;
  border: 1px solid #F3C653;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #FFFFFF;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-submit:hover, .btn-modal-submit:focus {
  color: #000000;
  background-color: #F3C653;
}
@media screen and (max-width: 1023.99px) {
  .btn-modal-submit {
    width: 384px;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Секція Details of our restaurant */
.details-rest {
  padding-top: 24px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .details-rest {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}
.details-rest--overlay {
  width: 100%;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-mobile-@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-rest--overlay {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-mobile-@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .details-rest--overlay {
    max-width: 1024px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-tablet-@1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-rest--overlay {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-tablet-@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .details-rest--overlay {
    max-width: 1280px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-desktop-@1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-rest--overlay {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homepage-details-rest-main-desktop-@2x.jpg");
  }
}

.details-rest__card {
  margin-left: 125px;
  margin-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .details-rest__card {
    margin-left: 231px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .details-rest__card {
    margin-left: 253px;
  }
}

.details-rest__name {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .details-rest__name {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 16px;
  }
}

.details-rest__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .details-rest__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.details-rest__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #BABABA;
  text-align: start;
  max-width: 259px;
}
@media screen and (min-width: 1024px) {
  .details-rest__text {
    font-size: 16px;
    max-width: 610px;
    margin-bottom: 40px;
  }
}

.details-rest__thumb {
  display: flex;
  background-color: transparent;
  margin-left: 25px;
  margin-bottom: 16px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .details-rest__thumb {
    margin-bottom: 24px;
  }
}
.details-rest__item-thumb {
  background-color: #dadada;
  margin-right: 20px;
  display: flex;
}

.details-rest__arrow-left {
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 32px;
}

.details-rest__icon-arrow {
  fill: currentColor;
}

.details-rest__item-arrow:not(:last-child) {
  margin-right: 32px;
}

.details-rest__btn {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .details-rest__btn {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .details-rest__btn {
    display: block;
  }
}

.details-rest__btn-modal-open {
  margin-bottom: 16px;
}

.details-rest__btn-link {
  margin-bottom: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper {
  position: absolute;
}

.swiper-button-next::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
}/*# sourceMappingURL=main.css.map */