
/* Секція Details of our restaurant */

.details-rest {
    padding-top: 24px;
    padding-bottom: 40px;
    

    @media screen and (min-width: 1024px) {
      padding-top: 48px;
      padding-bottom: 96px
    }

    &--overlay {
        width: 100%;
        max-width: 414px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.65);

        background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)),
        url("../images/homepage-details-rest-main-mobile-@1x.jpg");
        
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65), 
            rgba(0, 0, 0, 0.65)), 
            url("../images/homepage-details-rest-main-mobile-@2x.jpg");
        } 

        @media screen and (min-width: 1024px) {
            max-width: 1024px;
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url('../images/homepage-details-rest-main-tablet-@1x.jpg');

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
                url('../images/homepage-details-rest-main-tablet-@2x.jpg');
            }
        }

        @media screen and (min-width: 1280px) {
            max-width: 1280px;
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url('../images/homepage-details-rest-main-desktop-@1x.jpg');

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
                url('../images/homepage-details-rest-main-desktop-@2x.jpg'); 
            }
        }

    }     
}

.details-rest__card {
    margin-left: 125px;
    margin-bottom: 48px;

    @media screen and (min-width: 1024px) {
        margin-left: 231px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 253px;
    }
}
    

.details-rest__name {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $white-color;

    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 16px;
    }
}

.details-rest__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $white-color;

    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.details-rest__text{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #BABABA;
    text-align: start;
    
    max-width: 259px;
    

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        max-width: 610px;

        margin-bottom: 40px;
    }

}

.details-rest__thumb {
    display: flex;
    background-color: transparent;
    margin-left: 25px;
    margin-bottom: 16px;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        // margin-left: 312px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1280px) {
        // margin-left: 353px;
    }
}


.details-rest__item-thumb {
    // max-width: 100%;
    background-color: $img-background-color;
    margin-right: 20px;
    
    // max-height: 100%;
        
    display: flex;
    
        // flex-direction: column;
    
}

.details-rest__btn-arrow {
    display: flex;
    margin-bottom: 32px;
}

.details-rest__arrow {
    width: 32px;
    height: 32px;
    border: none;
    background-color: $bg-btn-transparent;
    color: $white-color;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details-rest__arrow--left {
    margin-left: 25px;
    margin-right: 32px;
}

.details-rest__icon-arrow {
    fill: currentColor;
}

.details-rest__btn {
    
    @media screen and (max-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.details-rest__btn-modal-open {
    margin-bottom: 16px;
}

.details-rest__btn-link {
    margin-bottom: 0;
}