body {
    color: $gray-text-color;
    background-color: $fon-lemon-color;
    font-family: Montserrat;
}

/* Глобальне скидання стилів по тегам*/
h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    padding-left: 85px;
    padding-right: 85px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 414px) {
       width: 414px; 
    }

    @media screen and (min-width: 1024px) {
       width: 1024px; 
    }

    @media screen and (min-width: 1280px) {
       width: 1280px; 
    }
}
