:root {
    --primary-text-color: #757575;
    --secondary-text-color:#000000;
    --title-text-color: #212121;
    --accent-text-color:#FFFFFF;
    --link-text-color: rgba(255, 255, 255, 0.6);
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-background-color:#C4C4C4;
    --footer-background-color: #2F303A;
    --header-border-color: #ECECEC; 
    --project-border-color: #EEEEEE;
    --svg-primary-color: #AFB1B8;
    --footer-social-background-color:rgba(255, 255, 255, 0.1);

    --work-overlay-color:rgba(47, 48, 58, 0.8);
    --project-overlay-color: rgba(33, 150, 243, 0.9);
    --modal-backdrop-color:rgba(0, 0, 0, 0.2);

    --btn-shadow-color: rgba(0, 0, 0, 0.15);
    --team-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    --filter-shadow-color: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    --project-shadow-color: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
    --drop-shadow-color: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    --form-placeholder-color: rgba(117, 117, 117, 0.5);
    --form-border-color: rgba(33, 33, 33, 0.2);
    --btn-border-color: rgba(0, 0, 0, 0.1);
    --form-footer-border-color: rgba(255, 255, 255, 0.3);

    --project-card-set-gap: 30px;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

    --font-family-basic: Roboto, sans-serif;
    --font-family-special: 'Raleway';
}